RIFT_CLUSTER=devnet
RIFT_RPC_URL=https://api.devnet.solana.com
RIFT_RPC_BACKUP_URL=
RIFT_RPC_WSS_URL=
RIFT_KEYPAIR_PATH=$HOME/.config/solana/id.json

RIFT_TOKEN_PROGRAM_ID=5kCioito1CpAxEuqaMAQsyrZ1gt5tQQ8qnKzG3V816gb
RIFT_CONTEST_PROGRAM_ID=35UXUBPvYUG5zqnMRfnGduD5WBnQ6qWadW7m3gaaKSD1
RIFT_TOKEN_MINT=GipLeHSJnqeMrvMzaxzzGeJ7tygfiwPc5s6F3JrrAJnP
RIFT_PROTOCOL_CONFIG=64ehBrVDNpPDqwzLZ37yxRhXDX1nXFiDjYS1UNEn2Mfd
